@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:visited,
a:link,
a:active,
a:hover {
  color: inherit;
}

button {
  background: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}

/* 크롬 search autofill 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.alert {
  width: 100%;
  max-width: 1000px;
  min-width: 360px;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 15px;
}
.alert.alert-default {
  background-color: #d5d5d5;
}
.alert.alert-primary {
  background-color: #a7d3fa;
  border-color: #168BF2;
}
.alert.alert-primary {
  background-color: #a7d3fa;
  border-color: #168BF2;
}
.alert.alert-success {
  background-color: #a1d8a4;
  border-color: #429E46;
}
.alert.alert-danger {
  background-color: #faaba7;
  border-color: #F22116;
}
.alert.alert-warning {
  background-color: #fcd896;
  border-color: #F2A007;
}
.alert.alert-info {
  background-color: #c3aef3;
  border-color: #602ADE;
}
.alert.alert-light {
  background-color: #f5f5f7;
  border-color: #a0a0b3;
}
.alert.alert-dark {
  background-color: #6f6f6f;
  border-color: #222;
  color: #fff;
}
.alert.alert-line {
  border-radius: 0;
  border-left: 5px solid #888;
  background-color: #d5d5d5;
}
.alert.alert-line.primary {
  border-color: #168BF2;
  background-color: #a7d3fa;
}
.alert.alert-line.success {
  border-color: #429E46;
  background-color: #a1d8a4;
}
.alert.alert-line.danger {
  border-color: #F22116;
  background-color: #faaba7;
}
.alert.alert-line.warning {
  border-color: #F2A007;
  background-color: #fcd896;
}
.alert.alert-line.info {
  border-color: #602ADE;
  background-color: #c3aef3;
}
.alert.alert-line.dark {
  border-color: #222;
  background-color: #6f6f6f;
  color: #fff;
}
.alert.alert-line.light {
  border-color: #a0a0b3;
  background-color: #f5f5f7;
}
.alert.alert-icon {
  background-color: #d5d5d5;
  line-height: 1.5em;
}
.alert.alert-icon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #888;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-image: url("https://drive.google.com/uc?id=16tB66_mXXkAycM2XD9D9mVgQ5ynjZddA");
  background-size: contain;
}
.alert.alert-icon.primary {
  border-color: #168BF2;
  background-color: #a7d3fa;
}
.alert.alert-icon.success {
  border-color: #429E46;
  background-color: #a1d8a4;
}
.alert.alert-icon.danger {
  border-color: #F22116;
  background-color: #faaba7;
}
.alert.alert-icon.warning {
  border-color: #F2A007;
  background-color: #fcd896;
}
.alert.alert-icon.info {
  border-color: #602ADE;
  background-color: #c3aef3;
}
.alert.alert-icon.dark {
  border-color: #222;
  background-color: #6f6f6f;
  color: #fff;
}
.alert.alert-icon.light {
  border-color: #a0a0b3;
  background-color: #f5f5f7;
}/*# sourceMappingURL=alert.css.map */