@import  '_common.scss';
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css');

.alert {
    width: 100%;
    max-width: 1000px;
    min-width: 360px;
    border: 1px solid $default-color;
    border-radius: 4px;
    padding: 15px;

    &.alert {
        &-default {
            background-color: lighten($default-color, 30%);
        }

        &-primary {
            background-color: lighten($primary-color, 30%);
            border-color: $primary-color;
        }

        &-primary {
            background-color: lighten($primary-color, 30%);
            border-color: $primary-color;
        }

        &-success {
            background-color: lighten($success-color, 30%);
            border-color: $success-color;
        }

        &-danger {
            background-color: lighten($danger-color, 30%);
            border-color: $danger-color;
        }

        &-warning {
            background-color: lighten($warning-color, 30%);
            border-color: $warning-color;
        }

        &-info {
            background-color: lighten($info-color, 30%);
            border-color: $info-color;
        }

        &-light {
            background-color: $light-color;
            border-color: darken($light-color, 30%);
        }

        &-dark {
            background-color: lighten($dark-color, 30%);
            border-color: $dark-color;
            color: #fff;
        }

        &-line {
            border-radius: 0;
            border-left: 5px solid $default-color;
            background-color: lighten($default-color, 30%);

            &.primary {
                border-color: $primary-color;
                background-color: lighten($primary-color, 30%);
            }

            &.success {
                border-color: $success-color;
                background-color: lighten($success-color, 30%);
            }

            &.danger {
                border-color: $danger-color;
                background-color: lighten($danger-color, 30%);
            }

            &.warning {
                border-color: $warning-color;
                background-color: lighten($warning-color, 30%);
            }

            &.info {
                border-color: $info-color;
                background-color: lighten($info-color, 30%);
            }

            &.dark {
                border-color: $dark-color;
                background-color: lighten($dark-color, 30%);
                color: #fff;
            }

            &.light {
                border-color: darken($light-color, 30%);
                background-color: $light-color;
            }
        }

        &-icon {
            background-color: lighten($default-color, 30%);
            color: $default-color;

            i {
                position: relative;
                top: 2px;
                display: inline-block;
                font-size: 1rem;
                margin-right: .5rem;
                color: $default-color;
            }

            &.primary {
                border-color: $primary-color;
                background-color: lighten($primary-color, 30%);
                color: $primary-color;

                i {
                    color: $primary-color;
                }
            }

            &.success {
                border-color: $success-color;
                background-color: lighten($success-color, 30%);
                color: $success-color;

                i {
                    color: $success-color;
                }
            }

            &.danger {
                border-color: $danger-color;
                background-color: lighten($danger-color, 30%);
                color: $danger-color;

                i {
                    color: $danger-color;
                }
            }

            &.warning {
                border-color: $warning-color;
                background-color: lighten($warning-color, 30%);
                color: $warning-color;

                i {
                    color: $warning-color;
                }
            }

            &.info {
                border-color: $info-color;
                background-color: lighten($info-color, 30%);
                color: $info-color;

                i {
                    color: $info-color;
                }
            }

            &.dark {
                border-color: $dark-color;
                background-color: lighten($dark-color, 20%);
                color: #fff;

                i {
                    color: #fff;
                }
            }

            &.light {
                border-color: darken($light-color, 30%);
                background-color: $light-color;
            }
        }
    }
}