@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:visited,
a:link,
a:active,
a:hover {
  color: inherit;
}

button {
  background: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}

/* 크롬 search autofill 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* .sbdocs 클래스는 스토리북의 문서화 패널을 나타냅니다. */
.btn {
  padding: 15px 30px;
  border-radius: 30px;
  transition: 0.3s;
  border: 1px solid #888;
  color: #888;
}
.btn.default-btn {
  background: transparent;
}
.btn.default-btn:hover {
  background-color: #888;
  color: #fff;
}
.btn.primary-btn {
  border-color: #168BF2;
  background-color: #168BF2;
  color: #fff;
}
.btn.primary-btn:hover {
  background-color: #0b71ca;
}
.btn.success-btn {
  border-color: #429E46;
  background-color: #429E46;
  color: #fff;
}
.btn.success-btn:hover {
  background-color: #337a36;
}
.btn.danger-btn {
  border-color: #F22116;
  background-color: #F22116;
  color: #fff;
}
.btn.danger-btn:hover {
  background-color: #ca150b;
}
.btn.warning-btn {
  border-color: #F2A007;
  background-color: #F2A007;
  color: #fff;
}
.btn.warning-btn:hover {
  background-color: #c07f06;
}
.btn.info-btn {
  border-color: #602ADE;
  background-color: #602ADE;
  color: #fff;
}
.btn.info-btn:hover {
  background-color: #8156e5;
}
.btn.light-btn {
  border-color: #d9d9e0;
  background-color: #f5f5f7;
  color: #000;
}
.btn.light-btn:hover {
  background-color: #d9d9e0;
}
.btn.dark-btn {
  border-color: #3c3c3c;
  background-color: #222;
  color: #fff;
}
.btn.dark-btn:hover {
  background-color: #3c3c3c;
}
.btn.link-btn {
  border: 0;
  background-color: transparent;
  color: #168BF2;
}
.btn.link-btn:hover {
  color: #095699;
}
.btn.swipe-btn {
  border-radius: 0;
  color: #888;
}
.btn.swipe-btn:hover {
  background-color: transparent;
  box-shadow: inset 175px 0 0 0 #888;
  color: #fff;
}
.btn.diagonal-swipe-btn {
  border: 0;
  border-radius: 0;
  outline: 0;
  background-color: #888;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.btn.diagonal-swipe-btn span {
  position: relative;
  z-index: 2;
}
.btn.diagonal-swipe-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150%;
  height: 160%;
  background-color: #168BF2;
  z-index: 1;
  transform-origin: bottom left;
  transform: skew(40deg) translateX(-92%) translateY(40%);
  transition: all 0.5s ease-in-out;
}
.btn.diagonal-swipe-btn:hover::after {
  transform: skew(40deg) translateX(0) translateY(10%);
}
.btn.bubble-btn {
  position: relative;
  overflow: hidden;
  color: #888;
}
.btn.bubble-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  width: 175px;
  height: 175px;
  background-color: #888;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}
.btn.bubble-btn:hover {
  background-color: transparent;
  color: #fff;
}
.btn.bubble-btn:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.btn.border-01-btn {
  position: relative;
  border: 0;
  color: #888;
}
.btn.border-01-btn svg {
  position: absolute;
  top: -1px;
  left: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.btn.border-01-btn svg rect {
  fill: none;
  stroke: #888;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
.btn.border-01-btn:hover {
  background-color: transparent;
}
.btn.border-01-btn:hover rect {
  stroke-width: 3;
  stroke-dasharray: 14, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn.border-02-btn {
  border: 0;
  padding: 0;
  letter-spacing: 0;
  margin: 0 15px;
}
.btn.border-02-btn:after, .btn.border-02-btn:before {
  content: "";
  backface-visibility: hidden;
  border: 1px solid rgba(136, 136, 136, 0);
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 0;
}
.btn.border-02-btn:before {
  margin-bottom: 15px;
}
.btn.border-02-btn:after {
  margin-top: 15px;
}
.btn.border-02-btn:hover {
  letter-spacing: 5px;
  background-color: transparent;
  color: #888;
}
.btn.border-02-btn:hover:after, .btn.border-02-btn:hover:before {
  backface-visibility: hidden;
  border-color: #888;
  transition: all 0.35s ease-in-out;
  width: 100%;
}
.btn.border-03-btn {
  border: 0;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.btn.border-03-btn:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background: #888;
  height: 1px;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}
.btn.border-03-btn:hover {
  background-color: transparent;
  color: #888;
}
.btn.border-03-btn:hover:after {
  width: 100%;
}
.btn.border-04-btn {
  border: 0;
  border-radius: 0;
  color: #fff;
  background-color: #888;
  position: relative;
}
.btn.border-04-btn::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 7%;
  height: 25%;
  background-color: transparent;
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  overflow: hidden;
  transition: 0.3s ease;
}
.btn.border-04-btn::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 7%;
  height: 25%;
  background-color: transparent;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  transition: 0.3s ease;
}
.btn.border-04-btn:hover::before, .btn.border-04-btn:hover::after {
  width: calc(100% + 9px);
  height: calc(100% + 9px);
}
.btn.shadow-btn {
  background: #fff;
  box-shadow: 0 2px 0 rgba(136, 136, 136, 0.6), 0 2px 4px rgba(136, 136, 136, 0.5);
}
.btn.shadow-btn:hover {
  background: #ddd;
  border: 1px solid rgba(136, 136, 136, 0.6);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), inset 1px 1px 2px rgba(136, 136, 136, 0.3);
}
.btn.shining-btn {
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #888;
  color: #fff;
}
.btn.shining-btn span {
  z-index: 20;
}
.btn.shining-btn:after {
  content: "";
  position: absolute;
  top: -55%;
  left: -35%;
  display: block;
  width: 50%;
  height: 250%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), transparent);
  transform: rotate(35deg);
}
.btn.shining-btn:hover {
  background: #a2a2a2;
}
.btn.shining-btn:hover:after {
  left: 120%;
  transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn.glow-btn {
  background: #888;
  color: #fff;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  text-shadow: none;
  outline: 1px solid;
  outline-color: rgba(0, 0, 0, 0.5);
  outline-offset: 0;
  transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn.glow-btn:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px #fff;
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: 15px;
}
.btn.flip-btn {
  position: relative;
  opacity: 1;
  padding: 0;
  border: 0;
}
.btn.flip-btn:before {
  content: attr(data-front);
  display: block;
  position: relative;
  opacity: 1;
  background: #fff;
  color: #000;
  padding: 15px 30px;
  transform: translateY(0) rotateX(0);
  transition: 0.5s;
  border: 2px solid #000;
}
.btn.flip-btn:after {
  content: attr(data-back);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 15px 30px;
  background: #000;
  color: #fff;
  transform: translateY(-50%) rotateX(90deg);
  transition: 0.5s;
  border: 2px solid #000;
}
.btn.flip-btn:hover {
  background-color: transparent;
}
.btn.flip-btn:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn.flip-btn:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn.linebox-btn {
  position: relative;
  border: 0;
}
.btn.linebox-btn:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background: #888;
  border: 2px solid transparent;
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn.linebox-btn:hover {
  background-color: transparent;
  color: #fff;
}
.btn.linebox-btn:hover:after {
  opacity: 1;
  height: 100%;
  border: 2px solid #888;
}
.btn.icon-animate-btn {
  position: relative;
  border: 0;
  width: 150px;
  padding: 0;
}
.btn.icon-animate-btn .circle {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #888;
  transition: 0.5s;
}
.btn.icon-animate-btn .circle .icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.btn.icon-animate-btn .circle .icon.arrow {
  top: 20px;
  left: 18px;
  width: 20px;
  height: 20px;
  background: none;
  transition: 0.5s;
}
.btn.icon-animate-btn .circle .icon.arrow:before {
  position: absolute;
  top: -30%;
  left: -30%;
  content: "";
  width: 50%;
  height: 50%;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}
.btn.icon-animate-btn .btn-text {
  position: absolute;
  width: 100%;
  top: -2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 15px;
  padding: 13px 0;
  transition: 0.5s;
}
.btn.icon-animate-btn .btn-text:hover {
  margin-left: 18px;
}
.btn.icon-animate-btn:hover {
  background-color: transparent;
}
.btn.icon-animate-btn:hover .circle {
  width: 100%;
}
.btn.icon-animate-btn:hover .circle .icon.arrow {
  transform: translate(10px, 0);
}
.btn.icon-animate-btn:hover .btn-text {
  color: #fff;
}
.btn.icon-only-btn {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-color: #168BF2;
  margin: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.btn.icon-only-btn i {
  position: relative;
  top: 5%;
  color: #168BF2;
  font-size: 2rem;
  transition: all 0.2s;
}
.btn.icon-only-btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  top: 100%;
  left: -100%;
  background-color: #168BF2;
  rotate: 45deg;
  transition: 0.5s ease;
}
.btn.icon-only-btn:hover i {
  color: #fff;
}
.btn.icon-only-btn:hover::before {
  top: -10%;
  left: 0;
}
.btn.outline {
  background-color: transparent;
}
.btn.outline.primary-btn {
  color: #168BF2;
}
.btn.outline.primary-btn:hover {
  background-color: #168BF2;
}
.btn.outline.success-btn {
  color: #429E46;
}
.btn.outline.success-btn:hover {
  background-color: #429E46;
}
.btn.outline.danger-btn {
  color: #F22116;
}
.btn.outline.danger-btn:hover {
  background-color: #F22116;
}
.btn.outline.warning-btn {
  color: #F2A007;
}
.btn.outline.warning-btn:hover {
  background-color: #F2A007;
}
.btn.outline.info-btn {
  color: #602ADE;
}
.btn.outline.info-btn:hover {
  background-color: #602ADE;
}
.btn.outline.light-btn {
  color: #f5f5f7;
}
.btn.outline.light-btn:hover {
  color: #000;
}
.btn.outline.dark-btn {
  color: #222;
  border-color: #222;
}
.btn.outline.dark-btn:hover {
  background-color: #222;
}
.btn.outline:hover {
  color: #fff;
}
.btn.switch-btn {
  padding: 0;
  width: 80px;
  height: 45px;
  position: relative;
  border: 0;
}
.btn.switch-btn .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.btn.switch-btn .checkbox:checked + .switch {
  background-color: #168BF2;
}
.btn.switch-btn .checkbox:checked + .switch .slider {
  left: calc(50% - 2px);
}
.btn.switch-btn .switch {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #888;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.btn.switch-btn .switch .slider {
  position: absolute;
  inset: 2.5px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
}/*# sourceMappingURL=button.css.map */