@import '_common.scss';

.text-field-animate {
    position: relative;

    > label {
        position: absolute;
        top: 15px;
        left: 15px;
        color: $default-color;
        background-color: #fff;
        padding-left: 7px;
        padding-right: 5px;
        transition: all .2s;
    }

    > input {
        all: unset;
        width: 230px;
        height: 38px;
        padding: 5px 5px 5px 10px;
        border-radius: 5px;
        color: $default-color;
        border: 1px solid $default-color;

        &:focus,
        &:valid {
            border-color: $primary-color;
            color: $primary-color;
        }

        &:focus ~ label,
        &:valid ~ label {
            top: -7px;
            color: $primary-color;
        }
    }
}