@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:visited,
a:link,
a:active,
a:hover {
  color: inherit;
}

button {
  background: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}

/* 크롬 search autofill 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* .sbdocs 클래스는 스토리북의 문서화 패널을 나타냅니다. */
.img-gallery {
  width: 80%;
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  gap: 30px;
}
.img-gallery > img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.6s ease;
}
.img-gallery > img:hover {
  scale: 0.85;
  box-shadow: 10px 26px 60px rgba(68, 77, 136, 0.3);
}

section.gsap-menu .container {
  width: 100%;
  height: 100vh;
  background-color: #101010;
  display: flex;
  flex-direction: column;
}
section.gsap-menu .landing {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
section.gsap-menu .landing h1 {
  color: #d7d7d7;
  font-size: 64px;
  font-weight: 700;
}
section.gsap-menu .landing p,
section.gsap-menu .section p {
  font-size: 18px;
  color: #949494;
}
section.gsap-menu .section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.gsap-menu .section h1 {
  color: black;
  font-size: 64px;
  font-weight: 700;
}
section.gsap-menu .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  color: white;
}
section.gsap-menu .navbar .nav-logo {
  font-size: 22px;
}
section.gsap-menu .nav-items {
  display: flex;
  gap: 40px;
}
section.gsap-menu .nav-items:hover {
  color: #949494;
}
section.gsap-menu .menu-btn {
  position: fixed;
  top: 24px;
  right: 24px;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191b1d;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  scale: 0;
  transition: background-color 0.3s ease;
  z-index: 3;
}
section.gsap-menu .menu-btn i {
  font-size: 24px;
}
section.gsap-menu .menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #1c1d20;
  color: white;
  padding: 20vh 11vw 8vh 11vw;
  display: flex;
  flex-direction: column;
  font-size: 48px;
  transform: translateX(100%);
  z-index: 2;
}
section.gsap-menu .menu .menu-header {
  font-size: 12px;
  color: #7f7f81;
  padding: 16px 0;
  border-bottom: 1px solid #7f7f81;
  margin-bottom: 56px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
section.gsap-menu .menu .menu-items {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
section.gsap-menu .menu .menu-items .menu-item {
  transition: transform 0.3s ease;
}
section.gsap-menu .menu .menu-items .menu-item:hover {
  transform: translateY(-10px);
}
section.gsap-menu .menu.active + .menu-btn {
  background-color: #455ce9;
}

section.side-bar {
  width: 100%;
  height: 100vh;
  background-color: #888;
}
section.side-bar > nav {
  position: fixed;
  width: 5rem;
  height: calc(100vh - 0.75rem);
  background-color: #ffffff;
  padding: 1rem 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  transition: width 500ms ease;
}
section.side-bar .sidebar-header,
section.side-bar .sidebar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section.side-bar .sidebar-header {
  margin-bottom: 1.5rem;
}
section.side-bar .logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
  padding: 0;
}
section.side-bar .logo-wrapper i {
  font-size: 2.5rem;
}
section.side-bar .logo-wrapper > img {
  width: 3.25rem;
  height: 3.25rem;
  background-color: #f4f4f6;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
section.side-bar.active nav {
  width: 15rem;
}
section.side-bar.active .hidden {
  display: inline;
}
section.side-bar.active .sidebar-links,
section.side-bar.active .sidebar-header,
section.side-bar.active .user-profile {
  justify-content: start;
  align-items: stretch;
}
section.side-bar.active .toggle-btn {
  transform: rotate(180deg);
}
section.side-bar.active .logo-wrapper {
  padding-left: 5px;
}
section.side-bar .sidebar-links {
  flex-direction: column;
  margin-bottom: auto;
  gap: 0.6rem;
  padding-top: 1.5rem;
}
section.side-bar nav > .sidebar-links {
  border-top: 1px solid rgb(211, 211, 211);
}
section.side-bar .link {
  display: flex;
  padding: 0.6rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
}
section.side-bar .hidden {
  display: none;
}
section.side-bar .link:hover,
section.side-bar .link.active:hover {
  background-color: #e4e4e8;
}
section.side-bar .link.active {
  background-color: #f4f4f6;
}
section.side-bar .link > img {
  width: 24px;
  height: 24px;
}
section.side-bar .sidebar-bottom .sidebar-links {
  padding-bottom: 1.5rem;
}
section.side-bar .toggle-btn {
  position: absolute;
  top: 10px;
  right: -50px;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s ease;
}
section.side-bar .toggle-btn i {
  position: relative;
  top: 2px;
  left: 1px;
}
section.side-bar .user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid rgb(211, 211, 211);
}
section.side-bar .user-avatar {
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: scale 0.2s ease;
}
section.side-bar .user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
section.side-bar .user-avatar:hover {
  scale: 1.1;
}
section.side-bar .user-details {
  align-self: center;
  overflow: hidden;
}
section.side-bar .user-details .username {
  font-size: 0.85rem;
  font-weight: 600;
}
section.side-bar .user-details .user-email {
  font-size: 0.8rem;
}/*# sourceMappingURL=layout.css.map */