@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:visited,
a:link,
a:active,
a:hover {
  color: inherit;
}

button {
  background: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}

/* 크롬 search autofill 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

ul.link-hover {
  display: flex;
  gap: 72px;
}
ul.link-hover > li a {
  color: #000;
  transition: 0.5s;
  font-weight: bold;
}
ul.link-hover:hover > li a {
  color: #168BF2;
}
ul.link-hover:hover > li a:not(:hover) {
  color: #000;
  opacity: 0.3;
  filter: blur(1px);
}

nav.link-cursor > ul {
  display: flex;
  gap: 8rem;
}
nav.link-cursor > ul > li {
  font-weight: bold;
  padding: 0.5rem;
}

.cursor {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #168BF2;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  z-index: -2;
  transition: all 0.2s ease;
  transition-property: transform;
}

.cursor-grow {
  transform: scale(2.2);
  background-color: #168BF2;
}

.link-hovered {
  color: #fff;
}

section {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1705766180328-2e1f9f42ff56?q=80&w=1924&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  overflow: hidden;
}

.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-image: url("https://postfiles.pstatic.net/MjAyNDAxMjVfMjQ4/MDAxNzA2MTQ5NTc4MDk2.zk812KpKD3RBbE8YvV0IN2CLpOr0NpBp8UUCm3dQwykg.BOT9nuU_wdy2uNeLN9CIT0v9RZNMJ38yn4f02INuqPcg.PNG.wobada/menu.png?type=w966");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 3;
  transition: 0.5s;
}

.menu.open ~ .menu-btn {
  background-image: url("https://postfiles.pstatic.net/MjAyNDAxMjVfMjQz/MDAxNzA2MTQ5NTc4MDk3.FQPIinoWB-Fu2xC3XY9hbFUKfBY4MXacpX5Be_V3TN4g.H_NeBklhrFgsdhnaMJz0aUrMbSXHmrBkOMMRqSJgygIg.PNG.wobada/close.png?type=w966");
}

.menu {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 2;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  visibility: hidden;
}

.menu.open nav {
  visibility: visible;
}

.menu nav a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  color: white;
  padding: 10px 20px;
  text-align: center;
  opacity: 1;
  transition: 0.25s;
}

.menu.open a {
  animation: show 0.3s backwards;
}

.menu nav:hover a:not(:hover) {
  opacity: 0.5;
}

@keyframes show {
  0% {
    opacity: 0;
    translate: 0 -30px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
.backdrop {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 100vh;
  aspect-ratio: 1/1;
  translate: -50% -50%;
  scale: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  z-index: 1;
  transition: all 0.6s;
}

.menu.open ~ .backdrop {
  opacity: 1;
  scale: 5;
}/*# sourceMappingURL=Menu.css.map */